[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST={{ENV}}.roboshop.internal
Environment=CATALOGUE_HOST={{ENV}}.roboshop.internal
ExecStart=/bin/node /home/roboshop/cart/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target



